<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE launch>
<launch>
  <!-- motor -->
  <include file="$(find xycar_motor)/launch/xycar_motor.launch"/>
  
  <!-- driver -->
  <node name="test-driver" pkg="test-physics" type="test-go-straight" output="screen"/>
  <!-- <node name="test-driver" pkg="test-physics" type="test-turning" output="screen"/> -->
  <!-- <node name="test-driver" pkg="test-physics" type="test-speed" output="screen"/> -->
</launch>